<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>타임라인</title>
	<!-- jQuery( JavaScript 라이브러리 ) -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<!-- Bootstrap( CSS 프레임워크 ) -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Popper.js( Bootstrap의 툴팁과 팝오버 컴포넌트에서 사용됨 ) -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  	<!-- Bootstrap의 Js부분( jQuery와 Popper.js에 의존 ) -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  	<!-- Bootstrap Icons라는 아이콘 세트를 사용하기 위해 해당 CSS파일 -->
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  	 
  	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<header class="d-flex">
		<div class="col-4 d-flex">
			<img src="https://cdn.pixabay.com/photo/2021/09/09/04/26/coins-6609452_960_720.jpg" width="50" height="50">
			<h2 class="text-danger pt-2">작은SNS</h2>
		</div>
		<div class="col-4 d-flex justify-content-center">
			<h2 class="pt-3 text-danger">타임라인</h2>
		</div>
		<div th:replace="~{include/userSector}"></div>
	</header>
	
	<nav class="mt-3 mb-3">
		<div th:replace="~{include/viewList}"></div>
	</nav>

	<section class="d-flex">
		<div class="col-2">
			
		</div>
		
		<div class="col-8 d-flex justify-content-center">
			<div class="post-timeline-box">
				<!-- 보여지는 투자 게시글 -->
				<div th:each="postWithOthers : ${postList}" class="card mt-3">			
					<!-- 글 시작부분 -->
					<div class="d-flex justify-content-between p-1 border-bottom">
						<!-- 글쓴이 -->
						<div>
							<img th:if="${postWithOthers.writerProfileImage != null}" th:src="${postWithOthers.writerProfileImage }" width="30" height="30">
							<img th:if="${postWithOthers.writerProfileImage == null}" src="https://mblogthumb-phinf.pstatic.net/20150203_225/hkjwow_1422965971196EfkMV_JPEG/%C4%AB%C5%E5%C7%C1%BB%E7_31.jpg?type=w210" width="30">	
							<a th:href="@{/individual-home-view(userId=${postWithOthers.investPost.userId})}" class="font-weight-bold text-dark">
								<span th:text="${postWithOthers.investPost.userNickName}"></span>
							</a>
						</div>
						
						<!-- 좋아요 -->
						<div>
							<a href="#" class="likeBtn" th:data-post-id="${postWithOthers.investPost.id }">
								<i th:if="${postWithOthers.like}" class="bi bi-heart-fill heart-icon text-danger" data-status="like" th:id="'heartIcon-' + ${postWithOthers.investPost.id}"></i>
								<i th:if="${!postWithOthers.like}" class="bi bi-heart heart-icon text-dark" th:id="'heartIcon-' + ${postWithOthers.investPost.id}"></i>
							</a>
							<span class="middle-size ml-1"> 
								좋아요 <span th:id="'likeCount-' + ${postWithOthers.investPost.id }" >[[${postWithOthers.likeCount}]]</span>개 
							</span>
						</div>
						
						<!-- 글 의 userId 와 세션의 userId 가 일치하면 더보기 버튼 노출 -->
						<div th:if="${postWithOthers.investPost.userId == session.userId}" class="more-icon" >
							<a href="#" class="text-dark moreBtn" data-toggle="modal" data-target="#postEditModal" th:data-post-id="${postWithOthers.investPost.id }"> 
								<i class="bi bi-three-dots-vertical"></i> 
							</a>
						</div>
					</div>
					<!-- /글 시작부분 -->
					
					<div class="d-flex justify-content-around border-bottom p-1">

					</div>
					
					<!-- 내용 -->
					<div class="middle-size m-2 d-flex justify-content-between">
						<div>
							[[${postWithOthers.investPost.content}]]
						</div>
						<div>
							<img th:src="${postWithOthers.investPost.imagePath }" width="285">
						</div>
					</div>
					
					<!-- 댓글 -->
					<div class="mt-2">
					
						<div class="border-bottom m-2">
							<span class="middle-size">댓글</span>
						</div>
						
						<!--  댓글현황  -->
						<div class="middle-size m-2">
							<div th:each="comment : ${postWithOthers.commentList}" class="mt-1">
								<b>[[${comment.userNickName}]]</b> [[${comment.content}]]
							</div>
						</div>
						
						<!-- 댓글 입력 -->
						<div class="d-flex mt-2 border-top">
							<input type="text" class="form-control border-0 " th:id="'commentInput-' + ${postWithOthers.investPost.id }">
							<button class="btn btn-info ml-2 commentBtn" th:data-post-id="${postWithOthers.investPost.id }">게시</button>
						</div>
						
					</div>
					<!-- /댓글 -->	
				</div>
				<!-- /보여지는 투자 게시글 -->
			</div>
		</div>
		<div class="col-2">
		</div>

	</section>
	
	<div th:replace="~{include/footer}"></div>
	
	<!-- 글쓰기Modal -->
	<div class="modal fade" id="writeModal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      
	      <div class="modal-body text-center">
	        <!--  게시글 작성  -->
			<div>
				<h3>게시글 작성</h3>
				<div class="d-flex">

				</div>
			
				<div class="border rounded mt-1">
					<textarea class="form-control w-100 border-0 non-resize" rows=4 id="contentInput"></textarea>			
					<!--  이미지  -->
					<div class="d-flex justify-content-between m-2">
						<input type="file" class="input-control d-none" id="fileInput">
						<a href="#" id="imageUploadBtn"><i class="bi bi-image image-upload-icon"></i></a>
						<button class="btn btn-sm btn-info" id="uploadBtn">업로드</button>
					</div>
				</div>		
			</div>
			<!--  /게시글 작성  -->
	      </div>
	    </div>
	  </div>
	</div>
	<!-- /글쓰기Modal -->
	
	<!-- 모달의 a태그에 data-post-id 의 값을 더보기 클릭시마다 바꿔준다.  -->
	<!-- 글수정Modal -->
	<div class="modal fade" id="postEditModal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      
	      <div class="modal-body text-center">
	        <a href="#" id="deleteBtn" >삭제하기 </a>
	      </div>
	  
	    </div>
	  </div>
	</div>
	<!-- /글수정Modal -->	
	
	<script>
		$(document).ready(function() {

	        // <글쓰기 버튼 눌렀을때>
			$("#writeBtn").on("click", function() {

				$("#uploadBtn").on("click", function() {
					let content = $("#contentInput").val().trim();
						
					if(content == null || content == "") {
						alert("내용을 입력하세요");
						return ;
					}
				
					var formData = new FormData();
					
					if ($("#fileInput")[0].files[0] != null) {
						formData.append("file", $("#fileInput")[0].files[0]);						
					}				
					if (content != null) {
						formData.append("content", content);
					}
					
					$.ajax({
						enctype: 'multipart/form-data', // 필수
						type:"POST",
						url:"/posts",
						processData: false, // 필수 
			        	contentType: false, // 필수 
						data:formData,
						success:function(response) {
							alert("글쓰기 성공");
							location.reload();
						}, error:function(xhr) {
							let response = xhr.responseJSON;
							console.log(response);
							alert("게시글 작성 실패 \n" + response.errorMessage);
						}
					});
					
				});		
				
				$("#imageUploadBtn").on("click", function() {
					$("#fileInput").click();
				});
	        });
			// </글쓰기 버튼 눌렀을때>
			
			// <댓글 입력>
			$(".commentBtn").on("click", function() {
				var postId = $(this).data("post-id");
				
				// $("#commentInput-1")
				var comment = $("#commentInput-" + postId).val().trim();
				
				if(comment == null || comment == "") {
					alert("내용을 입력하세요");
					return;
				}
				
				$.ajax({
					type:"post",
					url:"/comments/" + postId,
					data:{"content":comment},
					success:function(response) {
						location.reload();
					},
					error:function(xhr) {
						let response = xhr.responseJSON;
						console.log(response);
						alert("댓글 작성 실패 \n" + response.errorMessage);
					}
				});
			});
			// </댓글 입력>
			
			// <좋아요 버튼>
			$(".likeBtn").on("click", function(e) {
				e.preventDefault();
				var postId = $(this).data("post-id");
				
				$.ajax({
					type:"get",
					url:"/likes/invest/" + postId,

					success:function(response) {
						if(response.data.like) { // 좋아요
							$("#heartIcon-" + postId).removeClass("bi-heart");
							$("#heartIcon-" + postId).addClass("bi-heart-fill");
							
							$("#heartIcon-" + postId).removeClass("text-dark");
							$("#heartIcon-" + postId).addClass("text-danger");
						} else { // unlike
							$("#heartIcon-" + postId).removeClass("bi-heart-fill");
							$("#heartIcon-" + postId).addClass("bi-heart");
							
							$("#heartIcon-" + postId).removeClass("text-danger");
							$("#heartIcon-" + postId).addClass("text-dark");
						}
						
						$("#likeCount-" + postId).text(response.data.likeCount);
					},
					error:function(xhr) {
						let response = xhr.responseJSON;
						console.log(response);
						alert("좋아요 실패 \n" + response.message);
					}
				});
				
			});
			// </좋아요 버튼>
			
			$(".moreBtn").on("click", function() {
				// postId를 모델에 삭제 버튼에 주입한다. 
				
				var postId = $(this).data("post-id");
								
				$("#deleteBtn").data("post-id", postId);
				
			});

			
			$("#deleteBtn").on("click", function(e) {
				e.preventDefault();
				var postId = $(this).data("post-id");
				var type = "invest";
				
				$.ajax({
					type:"delete",
					url:"/posts/"+ type +"/" + postId,
					//data:{"postId":postId, "type":type},
					success:function(response) {
						if(response.status == "success") {
							alert("삭제됐습니다");
							location.reload();
						} else {
							alert(response.message);
						}
					}, 
					error:function(xhr) {
						let response = xhr.responseJSON;
						console.log(response);
						alert("삭제 실패 \n" + response.message);
					}
				})
			});


		});
	</script>
</body>
</html>